{% macro delete_modal_form(id="modal", title="Удалить", action_subject_name="", action_subject="", action_url="", method="get") %}
    <div id="{{ id }}" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('{{ id }}')">&times;</span>
        <h2>{{ title }}</h2>
        <form id="{{ id }}-form" action="{{ action_url }}" method="{{ method }}">
          <div>
              Пользователь Nnnnn будет удален. Уверены?
          </div>
          <button type="submit">Да</button>
        </form>
      </div>
    </div>
{% endmacro %}