<!DOCTYPE html>
<html lang="ru">
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}Мой сайт{% endblock %}</title>
      <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

      <base href="{{ request.base_url }}">

      <link
        rel="stylesheet"
        href="{{ url_for('static', path='admin_panel.css') }}"
      />
      <script src="https://kit.fontawesome.com/74b9f45d18.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>
      <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <script src="/static/js/custom_toast.js"></script>
      <script src="/static/js/modalWindow.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.19.0/dist/powerbi.js"></script>
    </head>

    <body>
      <div class="container">
        <aside class="sidebar" id="sidebar">
          <div class="logo"><span>Admin</span></div>
          <nav>
            <a href="/admin/"><i class="icon">🏠</i><span class="label">Дашборд</span></a>
            <a href="/admin/users"><i class="icon">👥</i><span class="label">Пользователи</span></a>
            <a href="/admin/resources"><i class="icon">📊</i><span class="label">Ресурсы</span></a>
            <a href="/admin/pbi_resource">{% include "powerbi.svg"%}<span class="label">Ресурсы PowerBI</span></a>
            <a href="/admin/resource_type"><i class="icon">🗂️</i><span class="label">Типы ресурсов</span></a>
            <a href="/admin/access"><i class="icon">🔑</i><span class="label">Доступы</span></a>

            <a href="/admin/access_request"><i class="icon">🛂</i><span class="label">Запросы доступа</span><span id="pending-count-badge" class="badge" style="display:none;">0</span></a>
            <a href="https://kompastourcom-my.sharepoint.com/:o:/r/personal/d_ostroukh_kompastour_com/Documents/%D0%97%D0%B0%D0%BF%D0%B8%D1%81%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%BD%D0%B8%D0%B6%D0%BA%D0%B8/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D1%8F?d=wf2b997b40ba749c88e90ce2ea9617af1&csf=1&web=1&e=qvkmd1"
            ><i class="icon">📚</i><span class="label">Серверная документация</span></a>
            <a href="/admin/logout"><i class="icon">🚪</i><span class="label">Выход</span></a>
          </nav>
        </aside>
        <div class="main">
          <header class="header">
            <button id="sidebarToggle">☰</button>
            <h1>Dashboard</h1>
            <input class="search" type="text" placeholder="Search...">
          </header>

          <div class="content">
            {% block admin_content %}{% endblock %}
          </div>
          <script>
            const toggleBtn = document.getElementById('sidebarToggle');
            const sidebar = document.getElementById('sidebar');
            toggleBtn.addEventListener('click', () => {
              sidebar.classList.toggle('collapsed');
            });
            async function updatePendingCount() {
              try {
                const res = await fetch("/admin/pending_access_request_count");
                const data = await res.json();
                const badge = document.getElementById("pending-count-badge");

                if (data.count > 0) {
                  badge.textContent = data.count;
                  badge.style.display = "inline-block";
                } else {
                  badge.style.display = "none";
                }
              } catch (e) {
                console.error("Ошибка при получении pending_count:", e);
              }
            }

            updatePendingCount();
            setInterval(updatePendingCount, 10000);
          </script>
        </div>
      </div>
    </body>
</html>