<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Мой сайт{% endblock %}</title>
  <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

  <base href="{{ request.base_url }}">

  <link
    rel="stylesheet"
    href="{{ url_for('static', path='style.css') }}"
  />
  <script src="https://kit.fontawesome.com/74b9f45d18.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="/static/js/custom_toast.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.19.0/dist/powerbi.js"></script>
</head>
<body>
  <header>
    <div class="logo"><a href="{{ url_for('web_home') }}">KOMPAS</a></div>

    <nav>
      <ul>
        <li>
          <a href="{{ url_for('reports') }}"
             class="home_header_item {% if request.url.path == '/web/reports' %}active{% endif %}">
             Отчеты
          </a>
          <a href="{{ url_for('directories') }}"
             class="home_header_item {% if request.url.path == '/web/directories' %}active{% endif %}">
             Справочники
          </a>
          <a href="{{ url_for('download') }}"
             class="home_header_item {% if request.url.path == '/web/download' %}active{% endif %}">
             Загрузки
          </a>
          <a href="{{ url_for('power_bi') }}"
             class="home_header_item {% if request.url.path == '/web/power_bi' %}active{% endif %}">
             Отчеты PowerBI
          </a>

        </li>
      </ul>
    </nav>
  </header>


  <main class="container">
    {% block content %}{% endblock %}
    {% block scripts %}
      <script src="{{ url_for('static', path='js/table.js') }}"></script>
    {% endblock %}
  </main>

</body>
</html>