{% extends 'base.html' %}
{% block title %}Справочники{% endblock %}

{% block content %}
  <section class="item-grid">
    {% if permissions %}
      {% for permission_item in permissions %}
        {% if permission_item[1] == 1 %}
          <article class="item-card">
            <h2><a href="{{ url_for(permission_item[0]) }}">{{permission_item[2]}}</a></h2>
            <p>{{permission_item[3]}}</p>
          </article>
        {% endif %}
      {% endfor %}
    {% else %}
      <div> У вас нет доступных справочников </div>
    {% endif %}
  </section>
{% endblock %}
