<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <base href="{{ request.base_url }}">

      <link
        rel="stylesheet"
        href="{{ url_for('static', path='login.css') }}"
      />
    </head>

    <body>
        <div class="login-container">
          <h1>Login</h1>
          {% if error %}
            <div class="error">{{ error }}</div>
          {% endif %}
          <form method="post" action="/web/login">
            <label>Username</label>
            <input type="text" name="username" />
            <label>Password</label>
            <input type="password" name="password" />
            <button type="submit" style="background-color: #0d6efd; color: #ffffff;">Войти</button>
            <button type="button" id="microsoftAuth" style="margin-top: 5px; background-color: #0078d7; color: #ffffff;">
                Войти через Microsoft
            </button>
          </form>
        </div>
        <script>
            const microsoftAuthBtn = document.getElementById("microsoftAuth");
            microsoftAuthBtn.addEventListener("click", (e) => {
                e.preventDefault();
                window.location.href = "{{ url_for('login_via_microsoft') }}";
            })
        </script>
    </body>
</html>