{% extends "base.html" %}
{% block title %}Embedded PowerBI Report{% endblock %}
{% block content %}
  {% block page_notice %}
    <div class="floating-note js-page-note" role="note" aria-live="polite" tabindex="-1">
      <span class="icon" aria-hidden="true">ℹ️</span>
      <span class="text">
        Отчёты работают в промежутке с <b>09:00–20:00</b> по Казахстанскому времени
        <small>(Asia/Almaty, UTC+5)</small>.
      </span>
    </div>
  {% endblock %}
  <div id="reportContainer" style="height:90vh"></div>

{% endblock %}
{% block scripts %}
  <script>
    async function loadReport() {
      const routeParam = '{{ data }}';
      const resp = await fetch(`/web/power_bi_base/embed-params/${routeParam}`);
      const { embedUrl, embedToken } = await resp.json();
      const pbiClient = window['powerbi-client'];
      const models = pbiClient.models;
      const config = {
        type: 'report',
        tokenType: models.TokenType.Embed,
        accessToken: embedToken,
        embedUrl: embedUrl,
        settings: { panes: { filters: { visible: false } } }
      };
      window.powerbi.embed(
        document.getElementById('reportContainer'),
        config
      );
    }
    loadReport().catch(console.error);
  </script>

{% endblock %}