{% macro render_table(id, table_data, table_keys, save_url='', informational_table=False, has_actions=True) %}
  {% if table_data %}
    {% set headers = table_data[0].keys() | list %}
    <div class="btn_block">
      {% if save_url == '' %}
      {% else %}
        <button id="save-btn-{{ id }}" class="btn">
          <i class="fa-solid fa-floppy-disk"></i> Сохранить
        </button>
        <button type="button" class="btn excel" id="import-excel-{{ id }}">
          <i class="fa-regular fa-file-excel"></i> Выгрузить из Excel
        </button>
        <input type="file" id="excel-file-{{ id }}" accept=".xlsx,.xls" style="display:none;">
      {% endif %}
    </div>

    <div class="table-wrapper">
      <table id="{{ id }}" class="editable-table">
        <thead>
          <tr>
            {% for h in table_keys %}
              {% if loop.index0 == 0 %}
              <th class="th-with-menu" data-col-index="{{ loop.index0 }}" style="display: none;">
                {{ h }}
                <span class="menu-btn">☰</span>
                <div class="filter-menu"></div>
              </th>
              {% else %}
              <th class="th-with-menu" data-col-index="{{ loop.index0 }}">
                {{ h }}
                <span class="menu-btn">☰</span>
                <div class="filter-menu"></div>
              </th>
              {% endif %}
            {% endfor %}
            {% if has_actions %}
            <th>Действия</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for row in table_data %}
            <tr data-index="{{ loop.index0 }}">

              {% for h in headers %}
                {% if h == "inc"%}
                  <td style="display: none;">
                    {% if informational_table %}
                      {{ row[h] if row[h] else '' }}
                    {% else %}
                      <input type="text" name="{{ h }}" value="{{ row[h] }}">
                    {% endif %}

                  </td>
                {% else %}
                  <td>
                    {% if informational_table %}
                      {{ row[h] if row[h] else '' }}
                    {% else %}
                      <input type="text" name="{{ h }}" value="{{ row[h] }}">
                    {% endif %}

                  </td>
                {% endif %}
              {% endfor %}
              {% if has_actions %}
                <td>
                  <button type="button" class="btn delete-row">Удалить</button>
                  <button type="button" class="btn duplicate-row">Дубл-ть</button>
                </td>
              {% endif %}
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="sidebar-trigger"></div>
      {% if save_url == '' %}
      {% else %}
        <button type="button" class="btn btn-add-row-fixed" id="add-row-{{ id }}">
          <i class="fa-solid fa-plus"></i> Добавить строку
        </button>
        <button type="button" class="btn btn-reset-filters" onclick="resetAllFilters('{{ id }}')">
          <i class="fa-solid fa-filter-circle-xmark"></i> Сбросить фильтры
        </button>
      {% endif %}

    <script>
      window.tableConfig = window.tableConfig || {};
      window.tableConfig["{{ id }}"] = {
        headers: {{ headers|tojson }},
        tableKeys: {{ table_keys|tojson }},
        saveUrl: "{{ save_url }}"
      };
    </script>
  {% else %}
    <p>Данных нет.</p>
  {% endif %}
{% endmacro %}