<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Мой сайт{% endblock %}</title>
  <base href="{{ request.base_url }}">

      <link
        rel="stylesheet"
        href="{{ url_for('static', path='style.css') }}"
      />
</head>
<body>
  <header>
    <div class="logo"><a href="{{ url_for('home') }}">KOMPAS</a></div>

    <nav>
      <ul>
        <li>
          <a href="{{ url_for('reports') }}"
             class="home_header_item {% if request.url.path == '/web/reports' %}active{% endif %}">
             Отчеты
          </a>
          <a href="{{ url_for('directories') }}"
             class="home_header_item {% if request.url.path == '/web/directories' %}active{% endif %}">
             Справочники
          </a>
        </li>
      </ul>
    </nav>
  </header>


  <main class="container">
    {% block content %}{% endblock %}
  </main>

</body>
</html>