{% extends 'base.html' %}
{% block title %}Справочники{% endblock %}

{% block content %}

  <section class="item-grid">
    <article class="item-card">
      <h2><a href="{{ url_for('directory_claims') }}">Справочник: Заявки</a></h2>
      <p>Справочник, позволяющий выгрузить заявки</p>
    </article>

    <article class="item-card">
      <h2><a href="{{ url_for('directory_direction') }}">Справочник: Направления</a></h2>
      <p>Справочник, хранящий в себе направления, рейсы для план-факта по монитору</p>
    </article>
  </section>

{% endblock %}
